{
  margin: 0; padding:0;
  box-sizing: border box; 
 font-family: 'Josefin Sans', sans-serif;
}
 header{
width: 100%;
height:100vh;
background-image:url('images/bj.png');
background-repeat: no-repeat;
background-size:100% 80%;

}

     .mainheader{
             width:100%;
             height:100px;
             display:flex;
        justify-content:space-between;
             align-items: center; 
             }
             
 .mainheader .logo img { 
         width:35%; height:50%; 
         padding-left:0px;
        } 
        
     .mainheader nav{
             width:450px; 
             display:flex;
        justify-content:space-around; 
             align-items:center; 
             } 
             
     .mainheader a { 
          text-decoration: none; 
          color:black; 
          text-transform: uppercase; 
          } 
          .mainheader a:hover{
            color: #c4c4c4;
          }
        .menubtn {
             margin-right:60px; 
             }
          
        .mainheader button {
            padding:10px 45px;
            text-align:center; 
            font-size: 14px;
            color:#fff; 
            border:none; 
          background-image:linear-gradient(to right,#649bff,#0070fa,#649bff); 
            border-radius: 10px; 
            } 
           
      main{
         width: 100%;
         display: flex;
        justify-content: space-between;
         align-items: center;
          }

     main .right-sec{ 
     padding-left:0px;
            }

     main .left-sec{
     padding-left: 30px;
      }   
     
      .left-sec h2{
font-size: 20px;
text-transform: capitalize;
font-weight: lighter;
color: #242424;
margin-top: 100px;
}

   .left-sec h1{
font-size: 40px;
text-transform: capitalize;
font-weight: 700;
margin: 15px 0;
}
   .left-sec p{
margin-bottom: 20px;
}

  .left-sec button{
padding: 15px 45px;
text-align: center;
font-size: 14px;
color: #fff;
border: none;
background-image: linear-gradient(to right,#649bff,#0070fa,#649bff);
border-radius: 10px;
}
.left-sec button a{
   text-decoration: none;
   color: white;
   text-transform: uppercase;
}
   .container {	min-height: 100vh;	width: 100%;	display: flex;	align-items: center;	justify-content: center;} 
   
   img{
    height:100%;
    width:100%;
    object-fit:cover;
    } 
   
  /*services*/ 
  .services{
    flex-basis:80%;
    text-align:center;
    padding:70px 20px 80px 20px;
    
    } 
    
   #services .section-title h2{
    font-size:4rem;
    font-weight:30;
    color:Black;
    margin-bottom:10px;
    text-transform:uppercase;
    letter-spacing:2rem;
    text-align:center;
    } 
   
   #services .section-title span{
   color:Red; 
   } 
  
   #services .service-container p{
   font-size:1.4rem;
   margin-inline-end:5px;
   line-height:2.5rem;
   font-weight:500;
   letter-spacing:.05rem;
   }
   
  
   #blog{
      display: flex;
      flex-direction: column;
      
      padding: 40px;
      border-top: 1px solid rgba(0, 0, 0, 0.05);
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
  .blog-heading{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height:auto;
      background-color: black;
      padding: 30px;
      text-align: center;
   
  }
  
  
  .blog-heading h1{
      font-size: 3.5rem;
      color:black;
      font-weight: 600;
  }
  .blog-container{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px 0px;
      flex-wrap: wrap;
  }
   
  .blog-box{
      width:350px;
      background-color: white;
      border: 1px solid #ececec;
      margin: 20px 20px;
   
  }
  .blog-img{
      width:20%;
      height: 20%;
      align-items: center;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
  .blog-img img{
      width:100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
  }
  .blog-text{
      padding: 30px;
      display: flex;
      flex-direction: column;
  }
  
  
  .blog-text .blog-title{
      font-size: 1.9rem;
      font-weight: 500;
      color: black;
  }
  .blog-text h5{
      color: black;
      font-size: 0.9rem;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 20px 0px;
  }
  
  
   
   
  @media(max-width:1250px){
   
      .blog-box{
          width: 300px;
      }
  } 
  @media(max-width:1100px){
      .blog-box{
          width:70%;
      }
  }
   
  @media(max-width:550px){
     
      .blog-box{
          margin: 20px 10px;
          width: 100%;
      }
      #blog{
          padding:20px;
      }
  }
  